spacy~=3.7.4
scispacy==0.5.4
scipy==1.10.1
scikit-learn==1.1.2
uvicorn
fastapi~=0.112.2
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz

pytest~=7.4.0
pydantic~=2.10.5