services:
#  model:
#    image: ghcr.io/sperekrestova/pill-checker-model:latest
#    restart: always
#    deploy:
#      resources:
#        limits:
#          memory: 6G
#    networks:
#      - private_network
#
#  core:
#    image: ghcr.io/sperekrestova/pill-checker-core:latest
#    env_file:
#      - core.env
#    ports:
#      - "8000:8000"
#    environment:
#      BIOMED_HOST: "model:8081"
#    restart: always
#    networks:
#      - private_network

#  ui:
#    image: ghcr.io/sperekrestova/pill-checker-ui:latest
#    ports:
#      - "19000:19000"
#      - "19001:19001"
#      - "19002:19002"
#    restart: always
#    networks:
#      - private_network

  supabase-db:
    image: supabase/postgres:latest
    restart: always
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      # ... any additional required env variables
    volumes:
      - ./migrations/001_init.sql:/docker-entrypoint-initdb.d/001_init.sql
      - supabase-db-data:/var/lib/postgresql/data
    networks:
      - private_network

networks:
  private_network:
    driver: bridge
