[MASTER]
# Specify a configuration file.
rcfile=

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
init-hook=

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=CVS,migrations,tests,settings.py

# Add files or directories matching the regex patterns to the blacklist. The
# regex matches against base names, not paths.
ignore-patterns=

# Python code to execute after the modules are loaded and before the actual
# checking starts.
load-plugins=

[MESSAGES CONTROL]
# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED
confidence=

# Enable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once). See also the "--disable" option for
# examples.
enable=all

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once). See also the "--enable" option for
# examples.
disable=C0301,C0114,C0115,C0116,R0903,E0401,W0718,W3101,E0307,C0411,R1705,W1514,W0707,E501,

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized,
# json and msvs (visual studio). You can also give a reporter class, e.g.
# mypackage.mymodule.MyReporterClass.
output-format=text

# Tells whether to display a full report or only the messages.
reports=no

[REFACTORING]
# Maximum number of nested blocks for function / method body
max-nested-blocks=5

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=200

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of attributes for a class (see R0902).
max-attributes=10

# Maximum number of boolean expressions in a if statement
max-bool-expr=5

# Maximum number of branch for function / method body
max-branches=12

# Maximum number of locals for function / method body
max-locals=15

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of public methods for a class (see R0904).
max-public-methods=20

[TYPECHECK]
# Tells whether to warn about missing members when the module is imported
# dynamically by using __import__ or imp.
generated-members=

[LOGGING]
# Format style used to check logging format string. `old` means using % formatting, `new` is for str.format() formatting and `fstr` is for f-string formatting.
logging-format-style=old