# Ignore node_modules to prevent copying large dependency folders
node_modules

# Logs
npm-debug.log
yarn-error.log

# Ignore the Docker and Compose files themselves if not needed inside the container
Dockerfile
docker-compose.yaml

# Version control directories
.git
.gitignore

# Expo specific directories
.expo
.expo-shared

# Other temporary files
*.log
